// MAIN

// all modules, general styles and variables
@import "partials/base";
@import "partials/general";

// third-party
@import "vendors/supersized";
@import "vendors/font-awesome.min";
@import "vendors/brankic-icon";
@import "vendors/flexslider";
@import "vendors/animate";
@import "vendors/jpreloader";
@import "vendors/magnific-popup";

// web elements/components
@import "partials/hero-unit";
@import "partials/about";
@import "partials/services";
@import "partials/works";
@import "partials/call-to-action";
@import "partials/team";
@import "partials/testimonial";
@import "partials/contact";
@import "partials/twitter-stream";
@import "partials/footer";

